PySide2
spotipy
mysql-connector
dotenv
python-dotenv
mutagen
urllib3
charset-normalizer
click
colorama
ffmpeg-python==0.2.0
filetype
future
mysql-connector-python
numpy
packaging
pygame
pycaw
PyQt5==5.15.9
PyQt5-sip
pyqt5-tools
python-dotenv
qt5-applications
qt5-tools
requests
setuptools
toml
urllib3
